.body{
    background-color: #FFFFFF;
}
.about_1{
    text-align: center;
    margin-top: 5px;
    padding: 10px;
    color: #998675;
   
}
.teal-text{
    color: #1cbbb4!important;
}
.fa-2x {
    font-size: 4em !important;
}

